# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.env
# --------------------
# IntelliJ Files
# --------------------
*.iml
*.ipr
*.iws
.idea/
yarn.lock
package.lock

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/
dist/
